.placement {
        display: block;
        width: 100%;
        max-width: 60%;
        margin: 0 auto;
        justify-content: center;
  }

  /* .carousel-container{
    max-height:50%;
  } */
  
  .carousel-button{
    display:block;
    width:40%;
    margin: 0 auto;
  }

  .carousel-photo{
    max-height:325px;
  }

  .background {
    height: 100vh;
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    background-position-x: center;
    background-position-y: center;
  }

#root{
    height:100vh;
}

  .App {
    max-height:false;
  }

  .carousel-caption-light{
    color:gray;
    padding-top: .5rem;
  }